@model Authorize.Models.LoginVM
@{
    ViewData["Title"] = "Login";
}
<h1>Big Gray Bison <img src="~/image/Bison-Silhouette.svg" style="height:1.1em" /></h1>
<h2>Login</h2>
<form id="loginForm" method="post" style="margin-top:2rem;">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <label asp-for="UserName">User Name</label>
        </div>
        <div class="col-md-3">
            <input asp-for="UserName" type="text" maxlength="1000" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label asp-for="Password">Password</label>
        </div>
        <div class="col-md-3">
            <input asp-for="Password" type="password" maxlength="1000" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-md-2">
            @Html.HiddenFor(m => m.ClientId)
            @Html.HiddenFor(m => m.RedirectUrl)
            @Html.HiddenFor(m => m.ResponseType)
            @Html.HiddenFor(m => m.State)
            <input type="submit" value="Login" style="margin-top:2rem;" /> <!-- @(ViewContext.ViewData.ModelState.IsValid ? string.Empty : "disabled=\"true\"") /> -->
        </div>
    </div>
</div>
</form>